.table_list {
    width: 100%;
    border-radius: 6px;
    color: var(--black);
    overflow: hidden;
    background: var(--blue);
}

.table_list thead i {
    margin-left: .5em;
}

.table_list tbody {
    background: var(--white);
}

.table_list th,
.table_list td {
    padding: 10px 15px;
    text-align: left;
}

.table_list tr {
    border-color: var(--dark);
}

.table_list th,
.table_list th a {
    color: var(--white);
}

.table_list .actions {
    gap: 1em;
    display: flex;
    align-items: center;
}

.bi-repeat {
    color: var(--green);
}

.bi-eye {
    color: var(--blue);
}

.bi-pencil-square {
    color: var(--orange);
}

.bi-trash {
    color: var(--red);
}

.list_empty {
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid var(--dark);
}

@media screen and (max-width: 1050px) {
    .list_table {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .list_phone {
        display: none;
    }
}
