.container_main {
    margin-left: 250px;
    padding: 1em 40px;
}

.container_main header {
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_main header small {
    font-size: .6em;
    color: var(--grey);
}

.container_main header a {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid var(--blue);
    color: var(--blue);
    transition: .3s all;
}

.container_main header a:hover {
    background: var(--baby);
}

.edit_profile {
    border: 1px solid var(--red) !important;
    color: var(--red) !important;
}

.container_full {
    margin-left: 0px !important;
}

/* PAGINATION */
.container_paginaton {
    margin-top: 2em;
    text-align: left;
}

.pagination {
    gap: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 10px;
}

.pagination li a {
    padding: 5px 10px;
    border-radius: 3px;
    transition: .3s all;
    color: var(--blue);
    background: var(--white);
    border: 1px solid var(--blue);
}

.pagination li a:hover {
    background: var(--baby);
}

/* DATEPICKER */
.ui-widget-header {
    border: none !important;
    background: var(--blue) !important;
}

@media screen and (max-width: 767px) {
    .container_main {
        margin-left: 100px;
    }
}
