.sidebar {
    width: 250px;
    height: 100vh;
    padding: 20px 30px;
    top: 0;
    left: 0;

    position: fixed;
    overflow: hidden;
    transition: .3s;
    background: var(--blue);
}

h3 {
    text-transform: uppercase;
    color: var(--white);
}

.container_links {
    margin-top: 2em;
    gap: .5em;

    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.container_links a {
    gap: 1em;
    padding: 10px;
    border-radius: 6px;

    display: flex;
    align-items: center;
    color: var(--white);
}

.container_links a:hover {
    font-weight: 500;
    background: var(--gray);
    color: var(--blue) !important;
    transition: .3s all;
}

.actived {
    font-weight: 500;
    background: var(--white);
    color: var(--blue) !important;
}
